{% extends "templates/tpl_base_mobile.html" %}
{% block title %}Metric Reserve - Home{% endblock %}
{% block content %}
<div data-role="page" id="mob_home">
	<div data-role="header" data-position="inline">
		<a href="/mob_s_menu" data-icon="grid">Menu</a>
		<h1>METRIC RESERVE</h1>
		{% include 'templates/tpl_partial_login.html' %}
	</div>
	<div data-role="content">
		<h2>Welcome</h2>
		<p>Metric Reserve is a simple P2P monetary system.  Please read our getting started section if you are unfamiliar with the website.  Thanks for visiting!</p>
		<p>This site currently uses your Google Account to log you in.  Once you've logged into the site you'll be asked to create a unique username for Metric Reserve.</p>
		<a href="#" data-theme="b" data-role="button">Log In</a>
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
