{% extends "templates/tpl_base_mobile.html" %}
{% block title %}Metric Reserve - Menu{% endblock %}
{% block content %}
<div data-role="page" id="mob_u_menu">
	<div data-role="header" data-position="inline">
		<a href="/mob_u_menu" data-icon="grid">Menu</a>
		<h1>METRIC RESERVE</h1>
		{% include 'templates/tpl_partial_login.html' %}
	</div>
	<div data-role="content">
    <ul data-role="listview">
      <li><a href="/mob_u_home">Unsecured Home</a></li>
    </ul>
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
