{% extends "templates/tpl_base_mobile.html" %}
{% block title %}Metric Reserve - Network Summary{% endblock %}
{% block content %}
<div data-role="page" id="mob_home">
	<div data-role="header" data-position="inline">
		<a href="/mob_s_menu" data-icon="grid">Menu</a>
		<h1>METRIC RESERVE</h1>
		{% include 'templates/tpl_partial_login.html' %}
	</div>
	<div data-role="content">
    	<h2>Network Summary</h2>

    	<p>Stuff and things about network summary.</p>
		{% if master.user.entity.metric_account_keys == "EMPTY" %}
		<a href="/mob_s_join_network?network_id={{ master.network_summary_entity.network_id }}">Join Primary Network</a>
		{% else %}
		<p>You are joined to this network.</p>
		{% endif %}

		<h4>Network Profile Entity</h4>
		<table border=1>
			<thead>
			<tr><th><b>Name</b></th><th><b>Value</b></th></tr>
			</thead>
			<tr><td>master.network_summary_entity.network_name</td><td>{{ master.network_summary_entity.network_name }}</td></tr>
			<tr><td>master.network_summary_entity.network_id</td><td>{{ master.network_summary_entity.network_id }}</td></tr>
		</table>

		<h4>User variables</h4>
		<table border=1>
			<thead>
			<tr><th><b>Name</b></th><th><b>Value</b></th></tr>
			</thead>
			<tr><td>master.user.entity.user_id</td><td>{{ master.user.entity.user_id }}</td></tr>
			<tr><td>master.user.entity.user_status</td><td>{{ master.user.entity.user_status }}</td></tr>
			<tr><td>master.user.entity.date_created</td><td>{{ master.user.entity.date_created }}</td></tr>
			<tr><td>master.user.entity.username</td><td>{{ master.user.entity.username }}</td></tr>
		</table>
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
