{% for blok in master.bloks %}
	{% if blok.type == "menu" %}
		<ul class="myclass" data-inset="true" data-role="listview" data-divider-theme="a">
			<li data-role="list-divider">Some Links</li>
		{% for link in blok.menuitems %}
			<li><a href="{{ link.href }}">{{ link.label }}</a></li>
		{% endfor %}
		</ul>
	{% elif blok.type == "home" %}
		{% if master.user.IS_LOGGED_IN %}
			<div class="text_bubble ui-body ui-body-c">
			<p>Hello, <b>{{ master.page.username }}</b>.</p>
			<p>You are currently signed in to the application and on the root page.</p>
			</div>
		{% else %}
			<div class="text_bubble ui-body ui-body-c">
			<p>Hello, <b>{{ master.page.username }}</b>.</p>
			<p>If you're new here it is recommended you read the introduction.</p>
			<p>If you are returning, somewhat familar, or need a refresher, try the quickstart guide.</p>
			<p>Both of these options are reachable from the menu link in the upper left corner or by typing "introduction" or "quickstart" in the command input field.</p>
			</div>
		{% endif %}
	{% elif blok.type == "test" %}
		{% if blok.test_code == "8001" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8001 for template testing.</p>
		{% elif blok.test_code == "8002" %}
				<div class="myclass2 ui-body ui-body-c">
					<div style="margin:0px;padding:0px;float: left; width: 18%;padding: 1px;">
						<img class="qr_code" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=85&amp;chl=https%3A%2F%2F8080-dot-2189742-dot-devshell.appspot.com%2F%3Fauthuser%3D0"/>
					</div>
					<div style="margin:0px;padding:0px;float: left; width: 77%;">
						<p style="margin:5px;padding:0px;" >sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf
						sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf sdfsdf sdf sdf sdf </p>
					</div>
				</div>
				<div class="text_bubble ui-body ui-body-c">
				<p>Hello, 127.0.0.1.</p>
				<p>If you're new here it is recommended you read the introduction.</p>
				<p>If you are returning, somewhat familar, or need a refresher, try the quickstart guide.</p>
				<p>Both of these options are reachable from the menu link in the upper left corner or by typing "introduction" or "quickstart" in the command input field.</p>
				</div>
				<p class="myclass ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8001 for template testing.</p>
				<ul class="myclass" data-inset="true" data-role="listview" data-divider-theme="a">
					<li data-role="list-divider">Inactive Networks</li>
					<li><a href="#">usafrn1</a></li>
					<li data-role="list-divider">My Networks</li>
					<li><a href="#">gold42</a></li>
					<li><a href="#">silver99</a></li>
					<li data-role="list-divider">Other Networks</li>
					<li><a href="#">bitcoin1</a></li>
					<li><a href="#">ether12</a></li>
				</ul>
				<p class="myclass ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8001 for template testing.</p>
				<div data-role="navbar">
					<ul>
						<li><a href="a.html">One</a></li>
						<li><a href="b.html">Two</a></li>
					</ul>
				</div>
				<div data-role="navbar">
					<ul>
						<li><a href="a.html">One</a></li>
						<li><a href="b.html">Two</a></li>
					</ul>
				</div>
				<ul class="myclass" data-inset="true" data-role="listview" data-divider-theme="a">
					<li data-role="list-divider">People</li>
					<li><a href="#">usafrn1</a></li>
					<li><a href="#">gold42</a></li>
					<li><a href="#">silver99</a></li>
					<li><a href="#">bitcoin1</a></li>
					<li><a href="#">ether12</a></li>
				</ul>
				<p class="myclass ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8001 for template testing.</p>
		{% else %}
			<p>Unrecognized Test Code</p>
		{% endif %}
	{% elif blok.type == "error" %}
		{% if blok.error_code == "1001" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Command keyword(s) unrecognized.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1002" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Context not recognized.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1003" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Unauthorized command request.  You are not signed in.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1101" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Invalid username format.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1102" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Username chosen is not unique.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1103" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Only administrators can create networks.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1104" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Invalid network name format.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1105" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Network name chosen is not unique.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1106" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Network can't be deleted.  Only inactive
			networks can be deleted manually.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1107" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Network skintillionth conversion
			rate must be a positive integer less than 1 quadrillion.  It's default value is 10 thousand.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1108" %}
			<p class="error ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Once a network has become active
			you cannot modify the status, type, description, or skintillionth conversion rate.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "9999" %}
			<p class="error ui-body ui-body-e"><font color="green"><strong>ERROR:</strong></font> DEBUG Got this far.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% else %}
			<p>Unrecognized Error Code</p>
		{% endif %}
	{% elif blok.type == "confirm" %}
		{% if blok.confirm_code == "6001" %}
			<p class="confirm ui-body ui-body-e"><font color="red"><strong>CONFIRM:</strong></font> Please type "confirm" in the
			command field to indicate you wish to change your current username: <b>{{ master.request.GET.old_username }}</b>
			to new username: <b>{{ master.request.GET.new_username }}</b></p>
		{% else %}
			<p>Unrecognized Confirm Code</p>
		{% endif %}
	{% elif blok.type == "success" %}
		{% if blok.success_code == "7001" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			changed your username to <b>{{ master.request.GET.new_username }}</b>.</p>
		{% elif blok.success_code == "7002" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			created a new network: <b>{{ master.request.GET.new_network_name }}</b>.  It's still inactive however.  Change whatever
			settings you need to, and then issue an 'activate' command.</p>
		{% elif blok.success_code == "7003" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			deleted network: <b>{{ master.request.GET.network_name }}</b>.</p>
		{% elif blok.success_code == "7004" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			activated network: <b>{{ master.request.GET.network_name }}</b>.</p>
		{% elif blok.success_code == "7005" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			set the network type to "LIVE" for network: <b>{{ master.request.GET.network_name }}</b>.</p>
		{% elif blok.success_code == "7006" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			set the network type to "TEST" for network: <b>{{ master.request.GET.network_name }}</b>.</p>
		{% elif blok.success_code == "7007" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			changed the skintillionth conversion to {{ master.request.GET.skintillionths }} for network: <b>{{ master.request.GET.network_name }}</b>.</p>
		{% elif blok.success_code == "7008" %}
			<p class="success ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			changed the network name from: <b>{{ master.request.GET.old_network_name }}</b> to: <b>{{ master.request.GET.new_network_name }}</b>.</p>
		{% else %}
			<p>Unrecognized Confirm Code</p>
		{% endif %}
	{% else %}

	{% endif %}
{% endfor %}
