{% extends "templates/tpl_base_mobile.html" %}
{% block title %}Metric Reserve - Network Summary{% endblock %}
{% block content %}
<div data-role="page" id="mob_s_network_summary">
	<div data-role="header" data-position="inline">
		<a href="/mob_s_menu" data-icon="grid">Menu</a>
		<h1>METRIC RESERVE</h1>
		{% include 'templates/tpl_partial_login.html' %}
	</div>
	<div data-role="content">
    	<h2>Network Summary</h2>
		{% if master.request.GET.form_result == "error_already_joined" %}
		<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong> You are already joined to this network.</font></p>
		{% endif %}
		{% if master.request.GET.form_result == "success" %}
		<p class="ui-body ui-body-e"><strong>You've successfully joined this network.</strong></p>
		{% endif %}
    	<p>Stuff and things about network summary.</p>
		{% if master.user.entity.metric_account_ids == "EMPTY" %}
		<a href="/mob_s_join_network?network_id={{ master.network_summary_entity.network_id }}">Join Primary Network</a>
		{% else %}
		<p>You are joined to this network.</p>
		{% endif %}

		<h4>All Users</h4>
		{% for each_user in master.all_users %}

		<p>{{ each_user.username }}, <a href="/mob_s_connect?target_connect_id={{ each_user.metric_account_ids }}">Connect</a>
		/<a href="/mob_s_disconnect?target_disconnect_id={{ each_user.metric_account_ids }}">Disconnect</a>
		/<a href="/mob_s_make_payment?target_to_pay_id={{ each_user.metric_account_ids }}">Make Payment</a></p>
		{% endfor %}
		<h4>Network Profile Entity</h4>
		<table border=1>
			<thead>
			<tr><th><b>Name</b></th><th><b>Value</b></th></tr>
			</thead>
			<tr><td>master.network_summary_entity.network_name</td><td>{{ master.network_summary_entity.network_name }}</td></tr>
			<tr><td>master.network_summary_entity.network_id</td><td>{{ master.network_summary_entity.network_id }}</td></tr>
		</table>

		<h4>User variables</h4>
		<table border=1>
			<thead>
			<tr><th><b>Name</b></th><th><b>Value</b></th></tr>
			</thead>
			<tr><td>master.user.entity.user_id</td><td>{{ master.user.entity.user_id }}</td></tr>
			<tr><td>master.user.entity.user_status</td><td>{{ master.user.entity.user_status }}</td></tr>
			<tr><td>master.user.entity.date_created</td><td>{{ master.user.entity.date_created }}</td></tr>
			<tr><td>master.user.entity.username</td><td>{{ master.user.entity.username }}</td></tr>
			<tr><td>master.user.entity.metric_account_ids</td><td>{{ master.user.entity.metric_account_ids }}</td></tr>
		</table>
		{% if master.user.HAS_METRIC_ACCOUNT %}
		<h4>Your Metric Account Info</h4>
		<p><a href="/mob_s_modify_reserve">Modify my Reserve Balance</a></p>
		<table border=1>
			<thead>
			<tr><th><b>Name</b></th><th><b>Value</b></th></tr>
			</thead>
			<tr><td>master.user.metric_account_entity.account_id</td><td>{{ master.user.metric_account_entity.account_id }}</td></tr>
			<tr><td>master.user.metric_account_entity.network_id</td><td>{{ master.user.metric_account_entity.network_id }}</td></tr>
			<tr><td>master.user.metric_account_entity.outgoing_connection_requests</td><td>{{ master.user.metric_account_entity.outgoing_connection_requests }}</td></tr>
			<tr><td>master.user.metric_account_entity.incoming_connection_requests</td><td>{{ master.user.metric_account_entity.incoming_connection_requests }}</td></tr>
			<tr><td>master.user.metric_account_entity.incoming_reserve_transfer_requests</td><td>{{ master.user.metric_account_entity.incoming_reserve_transfer_requests }}</td></tr>
			<tr><td>master.user.metric_account_entity.outgoing_reserve_transfer_requests</td><td>{{ master.user.metric_account_entity.outgoing_reserve_transfer_requests }}</td></tr>
			<tr><td>master.user.metric_account_entity.suggested_reserve_transfer_requests</td><td>{{ master.user.metric_account_entity.suggested_reserve_transfer_requests }}</td></tr>
			<tr><td>master.user.metric_account_entity.current_timestamp</td><td>{{ master.user.metric_account_entity.current_timestamp }}</td></tr>
			<tr><td>master.user.metric_account_entity.current_connections</td><td>{{ master.user.metric_account_entity.current_connections }}</td></tr>
			<tr><td>master.user.metric_account_entity.current_reserve_balance</td><td>{{ master.user.metric_account_entity.current_reserve_balance }}</td></tr>
			<tr><td>master.user.metric_account_entity.current_network_balance</td><td>{{ master.user.metric_account_entity.current_network_balance }}</td></tr>
			<tr><td>master.user.metric_account_entity.last_connections</td><td>{{ master.user.metric_account_entity.last_connections }}</td></tr>
			<tr><td>master.user.metric_account_entity.last_reserve_balance</td><td>{{ master.user.metric_account_entity.last_reserve_balance }}</td></tr>
			<tr><td>master.user.metric_account_entity.last_network_balance</td><td>{{ master.user.metric_account_entity.last_network_balance }}</td></tr>
		</table>
		{% endif %}
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
