{% extends "templates/tpl_mob_base.html" %}
{% block title %}{{ master.page.title }}{% endblock %}
{% block content %}
<div data-role="page" id="mob_u_home">
	<div data-role="header" data-position="inline">
		<a href="{{ master.MENU_LINK }}" data-icon="grid">Menu</a>
		<h1>METRIC RESERVE</h1>
		{% if master.user.IS_LOGGED_IN %}
		<a href="{{ master.user.LOG_OUT_GAE_HREF }}" data-icon="minus">Logout</a>
		{% else %}
		<a href="{{ master.user.LOG_IN_GAE_HREF }}" data-icon="plus">Login</a>
		{% endif %}
	</div>
	<div data-role="content">
		<form action="{{ master.request.path_qs }}" method="post" data-ajax="false" class="ui-body ui-body-a ui-corner-all">
		  <fieldset>
			<div data-role="fieldcontain" class="ui-hide-label">
				{% if master.request.GET.xcs == "long" %}
				<input type="hidden" name="form_hidden_command_text" value="{{ master.request.GET.xct }}"  />
				<label for="command">CMD:</label>
				<textarea tabindex=1 class="myfonts" cols="40" rows="8" name="form_command_text" id="command" placeholder="LONG COMMAND"/></textarea>
				{% else %}
				<input type="hidden" name="form_hidden_command_text" value="{{ master.request.GET.xct }}"  />
				<label for="command">CMD:</label>
				<input tabindex=1 class="myfonts" type="text" name="form_command_text" id="command" value="" placeholder="COMMAND"/>
				{% endif %}
			</div>
			<button tabindex=2 type="submit" data-theme="b" name="submit" value="submit_command">ENTER</button>
		  </fieldset>
		</form>
		<div class="context_line ui-body ui-body-a"><font color="yellow">{{master.page.context|safe }}</font></div>
		{% include 'templates/tpl_mob_bloks.html' %}
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
