{% for blok in master.bloks %}
	{% if blok.type == "menu" %}
		<ul data-role="listview">
		{% for link in blok.menuitems %}
			<li><a href="{{ link.href }}">{{ link.label }}</a></li>
		{% endfor %}
		</ul>
	{% elif blok.type == "home" %}
		{% if master.user.IS_LOGGED_IN %}
			<p>Hello, <b>{{ master.page.username }}</b>.</p>
			<p>You are currently signed in to the application and on the root page.</p>
		{% else %}
			<p>Hello, <b>{{ master.page.username }}</b>.</p>
			<p>If you're new here it is recommended you read the introduction.</p>
			<p>If you are returning, somewhat familar, or need a refresher, try the quickstart guide.</p>
			<p>Both of these options are reachable from the menu link in the upper left corner or by typing "introduction" or "quickstart" in the command input field.</p>
		{% endif %}
	{% elif blok.type == "test" %}
		{% if blok.test_code == "8001" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8001 for template testing.</p>
		{% elif blok.test_code == "8002" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>TEST:</strong></font> Test block 8002 for template testing.</p>
		{% else %}
			<p>Unrecognized Test Code</p>
		{% endif %}
	{% elif blok.type == "error" %}
		{% if blok.error_code == "1001" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Command keyword(s) unrecognized.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1002" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Context not recognized.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1003" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Unauthorized command request.  You are not signed in.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1101" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Invalid username format.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "1102" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong></font> Username chosen is not unique.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% elif blok.error_code == "9999" %}
			<p class="ui-body ui-body-e"><font color="green"><strong>ERROR:</strong></font> DEBUG Got this far.<br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% else %}
			<p>Unrecognized Error Code</p>
		{% endif %}
	{% elif blok.type == "confirm" %}
		{% if blok.confirm_code == "6001" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>CONFIRM:</strong></font> Please type "confirm" in the
			command field to indicate you wish to change your current username: <b>{{ master.request.GET.old_username }}</b>
			to new username: <b>{{ master.request.GET.new_username }}</b></p>
		{% elif blok.confirm_code == "1002" %}
			<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong> Context not recognized.</font><br/>
			<a href="{{ blok.last_view_link }}">{{ blok.last_view_link_text }}</a></p>
		{% else %}
			<p>Unrecognized Confirm Code</p>
		{% endif %}
	{% elif blok.type == "success" %}
		{% if blok.success_code == "7001" %}
			<p class="ui-body ui-body-b"><font color="green"><strong>SUCCESS:</strong></font> You have successfully
			changed your username to <b>{{ master.request.GET.new_username }}</b>.</p>
		{% else %}
			<p>Unrecognized Confirm Code</p>
		{% endif %}
	{% else %}

	{% endif %}
{% endfor %}
