{% extends "templates/tpl_base_mobile.html" %}
{% block title %}Metric Reserve - Home{% endblock %}
{% block content %}
<div data-role="page" id="mob_u_home">
	<div data-role="header" data-position="inline">
		{% if master.user.IS_LOGGED_IN %}
		<a href="/mob_s_menu" data-icon="grid">Menu</a>
		{% else %}
		<a href="/mob_u_menu" data-icon="grid">Menu</a>
		{% endif %}
		<h1>METRIC RESERVE</h1>
		{% include 'templates/tpl_partial_login.html' %}
	</div>
	<div data-role="content">
		<form action="/mob_u_command" method="post" data-ajax="false" class="ui-body ui-body-a ui-corner-all">
		  <fieldset>
			<div data-role="fieldcontain" class="ui-hide-label">
			  <label for="command">CMD:</label>
				<input type="text" name="form_command_text" id="command" value="" placeholder="COMMAND"/>
			</div>
			<button type="submit" data-theme="b" name="submit" value="submit_command">FEEDER BAR</button>
		  </fieldset>
		</form>
		{% if master.request.GET.form_result == "error" %}
		<p class="ui-body ui-body-e"><font color="red"><strong>ERROR:</strong> Some error.</font></p>
		{% endif %}
		{% if master.request.GET.form_result == "success" %}
		<p class="ui-body ui-body-e"><strong>You did it!</strong></p>
		<p>Some result content.</p>
		{% else %}
		<h5>CONTEXT: root As {{ master.request.remote_addr }}</h5>
		<p>Hello, {{ master.request.remote_addr }}.</p>
		<p>If you're new here it is recommended you read the introduction.</p>
		<p>If you are returning, somewhat familar, or need a refresher try the quickstart guide.</p>
		<p>Both of these options are reachable from the menu link in the upper left corner or by typing "introduction" or "quickstart" in the command input field.</p>
		{% endif %}
		{% if master.IS_DEBUG %}{% include 'templates/tpl_z_debug.html' %}{% endif %}
	</div>
</div>
{% endblock %}
